{% extends 'dashboard/base.html' %} {% load static %} {% block title %} Работа
{% endblock title %} {% block inline_css %}
<style>
    .django-ckeditor-widget {
        width: 100%;
    }
</style>
{% endblock inline_css %} {% block content %}
<div class="row">
    <div class="col-md-12 col-xl-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="flex_wrapper" style="display: flex; align-items: center; justify-content: space-between;">
                    <div class="row">
                        {% if request.user.is_superuser %}
                        <a href="{% url 'work_update_view' work_id=work.id %}">
                            <button class="btn-primary p-2 mr-2" style="border-radius: 5px">
                                Изменить
                            </button>
                        </a>
                        <a href="{% url 'work_student_all_end' work_id=work.id %}">
                            <button class="btn-success p-2 mr-2" style="border-radius: 5px">
                                Завершить
                            </button>
                        </a>
                        {% endif %}
                        {% if request.user.is_student %}
                        {% if not request.user in work.participants.all and work.is_seats_available %}
                        <a href="{% url 'work_take_part_view' work_id=work.id %}">
                            <button class="btn-success p-2 mr-2" style="border-radius: 5px">
                                Принять
                            </button>
                        </a>
                        {% endif %}
                        {% endif %}
                    </div>
                    {% if work.is_administrative_work %}
                    <span class="badge badge-pill badge-success">Административная работа</span>
                    {% else %}
                    <span class="badge badge-pill badge-info">Работа ССО</span>
                    {% endif %}
                </div>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Название</label>
                            <div class="col-sm-9">
                                <div class="form-control">{{ work.name }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            {% if work.is_administrative_work %}
                            <label class="col-sm-3 col-form-label">Административные
                                баллы</label>
                            <div class="col-sm-9">
                                <div class="form-control">{{ work.administrative_points }}</div>
                            </div>
                            {% else %}
                            <label class="col-sm-3 col-form-label">Баллы ССО</label>
                            <div class="col-sm-9">
                                <div class="form-control">{{ work.activity_points }}</div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Дата
                                работы</label>
                            <div class="col-sm-9">
                                <div class="form-control">{{ work.work_date }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Количество
                                мест</label>
                            <div class="col-sm-9">
                                <div class="form-control">{{ work.participants_count }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Начало
                                работы</label>
                            <div class="col-sm-9">
                                <div class="form-control">{{ work.start_time }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Конец
                                работы</label>
                            <div class="col-sm-9">
                                <div class="form-control">{{ work.end_time }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p style="color: #fff">Описание</p>
                        {{ work.description | safe }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">
                                Участники {{ work.participants.all.count }}/{{ work.participants_count }}
                            </h4>
                            {% if request.user.is_superuser %}
                            {% if work.is_seats_available %}
                            <a href="{% url 'work_student_list_view' work_id=work.id %}">
                                <button class="btn-success p-1 mr-2" style="border-radius: 5px">
                                    Добавить
                                </button>
                            </a>
                            {% endif %}
                            {% endif %}
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Студент</th>
                                            <th>Имя</th>
                                            <th>Общежитие</th>
                                            <th>Административные баллы</th>
                                            <th>Баллы ССО</th>
                                            <th>Всего баллов</th>
                                            <th>Статус</th>
                                            {% if request.user.is_superuser %}
                                            <th>Действия</th>
                                            {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for student in work.participants.all%}
                                        {% if request.user.id == student.id %}
                                        <tr style="background-color: #22283d">
                                            <td class="py-1">
                                                {% if student.profile_image %}
                                                <img src="{{ student.profile_image.url }}" alt="image" />
                                                {% else %}
                                                <img src="{% static 'assets/images/no-profile-image.jpg' %}"
                                                    alt="image" />
                                                {% endif %}
                                            </td>
                                            <td>{{ student.first_name }}</td>
                                            <td>{{ student.dormitory }}</td>
                                            <td>{{ student.administrative_points}}</td>
                                            <td>{{ student.activity_points}}</td>
                                            <td>{{ student.get_all_points}}</td>
                                            {% if student.status == 'Бронза' %}
                                            <td>
                                                <div class="badge badge-outline-warning"
                                                    style="color: #ff5733; border-color: #ff5733">
                                                    {{ student.status }}
                                                </div>
                                            </td>
                                            {% elif student.status == 'Серебро'%}
                                            <td>
                                                <div class="badge badge-outline-warning"
                                                    style="color: #c0c0c0; border-color: #c0c0c0">
                                                    {{ student.status }}
                                                </div>
                                            </td>
                                            {% elif student.status == 'Золото'%}
                                            <td>
                                                <div class="badge badge-outline-warning"
                                                    style="color: #ffd700; border-color: #ffd700">
                                                    {{ student.status }}
                                                </div>
                                            </td>
                                            {% endif %}
                                        </tr>
                                        {% else %}
                                        <tr>
                                            <td class="py-1">
                                                {% if student.profile_image %}
                                                <img src="{{ student.profile_image.url }}" alt="image" />
                                                {% else %}
                                                <img src="{% static 'assets/images/no-profile-image.jpg' %}"
                                                    alt="image" />
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a href="{% url 'student_detail_view' student_id=student.id %}">
                                                    {{ student.first_name }}
                                                </a>
                                            </td>
                                            <td>{{ student.dormitory }}</td>
                                            <td>{{ student.administrative_points}}</td>
                                            <td>{{ student.activity_points}}</td>
                                            <td>{{ student.get_all_points}}</td>
                                            {% if student.status == 'Бронза' %}
                                            <td>
                                                <div class="badge badge-outline-warning"
                                                    style="color: #ff5733; border-color: #ff5733">
                                                    {{ student.status }}
                                                </div>
                                            </td>
                                            {% elif student.status == 'Серебро'%}
                                            <td>
                                                <div class="badge badge-outline-warning"
                                                    style="color: #c0c0c0; border-color: #c0c0c0">
                                                    {{ student.status }}
                                                </div>
                                            </td>
                                            {% elif student.status == 'Золото'%}
                                            <td>
                                                <div class="badge badge-outline-warning"
                                                    style="color: #ffd700; border-color: #ffd700">
                                                    {{ student.status }}
                                                </div>
                                            </td>
                                            {% endif %}
                                            {% if request.user.is_superuser %}
                                            <td>
                                                <button class="btn-success p-2" type="button" data-toggle="modal"
                                                    style="border-radius: 5px" data-target="#setStudentReady">
                                                    Готово
                                                </button>
                                                <div class="modal fade" id="setStudentReady" tabindex="-1" role="dialog"
                                                    aria-labelledby="setStudentReadyLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="setStudentReady">
                                                                    Укажите баллы
                                                                </h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body" style="
                                                                                        display: flex;
                                                                                        align-items: center;
                                                                                        justify-content: space-between;
                                                                                    ">
                                                                <div class="col-12">
                                                                    <div class="form-group">
                                                                        <form method="post"
                                                                            action="{% url 'work_student_ready_view' work_id=work.id student_id=student.id %}">
                                                                            {% csrf_token %}
                                                                            <div class="input-group">
                                                                                <input type="number"
                                                                                    class="form-control"
                                                                                    style="color: #fff;" name="points"
                                                                                    {% if work.is_administrative_work %}
                                                                                    value="{{ work.administrative_points }}"
                                                                                    {% else %}
                                                                                    value="{{ work.activity_points }}"
                                                                                    {% endif %}
                                                                                    aria-label="Recipient's username"
                                                                                    aria-describedby="basic-addon2">
                                                                                <div class="input-group-append">
                                                                                    <button
                                                                                        class="btn btn-sm btn-success"
                                                                                        type="submit">Готово</button>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button class="btn-danger p-2" type="button" data-toggle="modal"
                                                    style="border-radius: 5px" data-target="#deleteStudentFromWork">
                                                    Удалить
                                                </button>
                                                <div class="modal fade" id="deleteStudentFromWork" tabindex="-1"
                                                    role="dialog" aria-labelledby="deleteStudentFromWorkLabel"
                                                    aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="deleteStudentFromWork">
                                                                    Укажите причину
                                                                </h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body" style="
                                                                                        display: flex;
                                                                                        align-items: center;
                                                                                        justify-content: space-between;
                                                                                    ">
                                                                <div class="col-12">
                                                                    <div class="form-group">
                                                                        <form method="post"
                                                                            action="{% url 'remove_student_from_work' work_id=work.id student_id=student.id %}">
                                                                            {% csrf_token %}
                                                                            <div class="input-group">
                                                                                <input type="text" class="form-control"
                                                                                    name="reason" style="color: #fff;"
                                                                                    aria-label="Recipient's username"
                                                                                    aria-describedby="basic-addon2">
                                                                                <div class="input-group-append">
                                                                                    <button
                                                                                        class="btn btn-sm btn-danger"
                                                                                        type="submit">Удалить</button>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            {% endif %}
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
</div>